   
     <div class="card" style="height:23rem; width:22rem;">
        <img src="{{team.cover}}" alt="Photo de l'écurie {{team.nom}}" class="card-img">
       
        <h1 style='font-size:1.50rem; margin-bottom:2rem;'>{{team.nom}}</h1>
         
        <p class="job-title">{{team.moteur}}</p>
 
      <a href="{{path('team_show', {'slug':team.slug})}}" class="btn team">En savoir plus</a>
     
        </div>
    

