{% extends 'base.html.twig' %}

{% block title %}Inscription au site{% endblock %}


{% block body %}
<head>
     <meta charset="UTF-8">
        <title>F1 History Administration</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <script src="{{ asset('build/app.js') }}"></script>
</head>

    <div class="container">
        
        <div class="col-md-6 offset-md-3 mt-5">
        <div class="card bg-light mt-5">
            <div class="card-header">
                <h4 class="card-title">
                    <i class="fas fa-lock"></i>&nbsp Inscription
                </h4>
            </div>
            <div class="card-body">
              
        {{form_start(myForm)}}

        {{form_widget(myForm)}}
         
                
            <button type="submit" class="btn btn-success">Confirmez l'inscription</button>
        {{form_end(myForm)}}
        </div>
    </div>
{% endblock %}