{% extends 'admin/base.html.twig' %}

{% block title %}Les Statistiques{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Gestion des Statistiques</h1>
         <input class="form-control" id="myInput" type="text" placeholder="Rechercher..">
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Pilote</th>
                    <th>Team</th>
                    <th>Grand-Prix</th>
                    <th>Année</th>
                    <th>Chrono</th>

                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody id="myTable">
            
                {% for stats in pagination.data %}
                    <tr>
                        <td>{{stats.id}}</td>
                         
                        <td>{{stats.pilote.prenom}} {{stats.pilote.nom}}</td>
                        
                        <td>{{stats.team}}</td>
                        
                        <td>{{stats.grandprix.title}}</td>
                         
                        <td>{{stats.annee}}</td>
                        <td>{{stats.chrono}}</td>
                        
                       
                        <td class="text-center">
                            <a href="{{ path('admin_stats_edit', {'id':stats.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <a href="{{ path('admin_stats_delete', {'id':stats.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination.display() }}
    </div>
{% endblock %}
{% block javascripts %}
<script>
 $(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
}); 
</script>
{% endblock %}