{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="homepage">
 <div class="container">
<h1>L'HISTOIRE DE LA </h1>
<h1>FORMULE UN</h1>


<div class="row" style="width:110%;">
<div class="col-12 col-md-7">

<img src="{{ asset('images/1950-removebg-preview.png') }}" alt="" style="margin-right:100px;"></div>
<div class="col-12 col-md-5"><p style="margin-top:200px;">Le championnat du monde de Formule 1 1950 est la première édition du championnat du monde de Formule 1. Marqué par la domination des Alfa Romeo, il a vu le sacre du vétéran italien Giuseppe Farina. Des sept circuits utilisés pour ce championnat inaugural, quatre figurent encore au calendrier soixante-dix ans plus tard : Silverstone, Monaco, Spa-Francorchamps et Monza.</p></div>
</div>
<div class="row">
<div class="col-12 col-md-6"></div>
<div class="col-12 col-md-6"></div>
</div>
<div class="row">
<div class="col-12 col-md-6"></div>
<div class="col-12 col-md-6"></div>
</div>
</div>



</div>
<h1 class="timelineh1">Les logos</h1>
<br> 
<br> 
<div class="process-wrapper">
<div id="progress-bar-container">
	<ul>
		<li class="step step01 active"><div class="step-inner"><img src="{{ asset('images/f150-removebg.png') }}" alt="" class="imgtimeline"></div></li>
		<li class="step step02"><div class="step-inner"><img src="{{ asset('images/f180-removebg.png') }}" alt="" class="imgtimeline2"></div></li>
		<li class="step step03"><div class="step-inner"><img src="{{ asset('images/f110-removebg.png') }}" alt="" class="imgtimeline3"></div></li>
		<li class="step step04"><div class="step-inner"><img src="{{ asset('images/f120-removebg.png') }}" alt="" class="imgtimeline"></div></li>
		
	</ul>
	
	<div id="line">
		<div id="line-progress"></div>
	</div>
</div>

<div id="progress-content-section">
	<div class="section-content discovery active">
		<h2>1950</h2>
		<p>Le premier logo F1 qui accompagnait les premières courses lors de son apparition en 1950 était élémentaire: les mots "Formula One" écrits en bleu sur fond blanc. Pendant des décennies - lorsque la fonction était plus importante que l'apparence - ce logo était suffisant, et personne n'a pensé que "ça valait peut-être la peine d'être mis à jour". Dans sa première année, la F1 était plus un concours pour les gars avec de bonnes ressources financières et n'est devenu un sport très populaire que plus tard. Cependant, la mondialisation, le mercantilisme et d'autres tendances ne sont pas passés à côté de la F1, il a donc été décidé en 1986 de repenser le logo. Radicalement.</p>
	</div>
	
	<div class="section-content strategy">
		<h2>1987</h2>
		<p>La nouvelle version du logo F1 a fait ses débuts en 1987, mais on pourrait l'appeler "nous avons besoin d'un nouveau design, mais nous ne payons pas beaucoup le designer". Sans surprise, cette version qui n'existait que depuis sept ans a été entièrement repensé pour devenir le logo que tout le monde connaissait jusqu'en 2017.</p>
	</div>
	
	<div class="section-content creative">
		<h2>1994</h2>
		<p>Au cours de cette décennie, la F1 est devenue un sport mondial. Avant cela, tous les Grands Prix se déroulaient en Europe ou en Amérique du Sud (plus un au Japon), mais la mondialisation a commencé à évoluer à toute allure au cours de la dernière décennie du XXe siècle. D'énormes sociétés internationales comme Coca-Cola, Marlboro et Mastercard ont commencé à parrainer des équipes de F1, et la géographie des Grands Prix s'est progressivement étendue à l'Australie, à l'Asie du Sud-Est, au Moyen-Orient et en Amérique du Nord, l'influence de l'Europe diminuant.
Le sport avait donc besoin d'un logo reflétant ses valeurs et son éthique. Le logo sorti en 1994 a parfaitement réussi: à ce jour, il est considéré comme l'une des images de marques les plus créatives de tous les temps. Il était composé de trois couleurs: noir, blanc et rouge. Le noir utilisé pour la lettre "F" symbolisait la puissance, tandis que le rouge représentait la vitesse et la passion. Pendant ce temps, le blanc qui était intercalé entre ces couleurs formait le deuxième symbole du logo le "1".</p>
	</div>
	
	<div class="section-content production">
		<h2>2018</h2>
		<p>Lorsque le groupe Liberty Media a pris le contrôle de la F1 en 2017, il n'a pas fallu longtemps pour que les changements surviennent. Des annonces ont  été faites concernant les plans de développement de la F1 et les nouvelles règles améliorant la compétition, et à la fin de 2017 - à la surprise générale - un nouveau logo a été introduit. Le nouveau logo est plus moderne et simple, mais il ne ressemble en rien au précédent. Et beaucoup de fans ne sont pas satisfaits de cela.
Mais La F1 a commencé une nouvelle ère et les fans doivent accepter cela. </p>
	</div>		
	</div>
</div>
{% endblock %}
