{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="homepage">
	<div class="container">
		<h1 class="title">L'HISTOIRE DE LA FORMULE UN</h1>



		<div class="row" style="width:110%;">
			<div class="col-12 col-md-6">
				<h1 class="dateh1">1950</h1>
				<img src="{{ asset('images/1950-removebg-preview.png') }}" alt="" class="imgdescri">
			</div>
			<div class="col-12 col-md-6 descri">
				<p>Le championnat du monde de Formule 1 1950 est la première édition du championnat du monde de Formule
					1. Marqué par la domination des Alfa Romeo, il a vu le sacre du vétéran italien Giuseppe Farina. Des
					sept circuits utilisés pour ce championnat inaugural, quatre figurent encore au calendrier
					soixante-dix ans plus tard : Silverstone, Monaco, Spa-Francorchamps et Monza.</p>
			</div>

			<div class="col-12 col-md-6 ">
				<h1 class="dateh1">1960</h1>
				<img src="{{ asset('images/1960-removebg-preview.png') }}" alt="" class="imgdescri2">
			</div>
			<div class="col-12 col-md-6 descri2">
				<p>La saison de Formule 1 de 1960 était la 14e saison des courses de Formule 1 de la FIA. Il comprenait le onzième Championnat du Monde FIA ​​des Pilotes, la troisième Coupe Internationale des Constructeurs F1  et de nombreuses courses hors championnat. Le Championnat du monde a commencé le 7 février 1960 et s'est terminé le 20 novembre après dix courses. Jack Brabham a remporté son deuxième titre consécutif avec son équipe Cooper qui défendait leur titre des constructeurs.</p>
			</div>
			<div class="col-12 col-md-6">
				<h1 class="dateh1">1970</h1>
				<img src="{{ asset('images/1970-removebg-preview.png') }}" alt="" class="imgdescri3">
			</div>
			<div class="col-12 col-md-6 descri3">
				<p>La saison de Formule 1 de 1970 était la 24e saison de course automobile de Formule 1 de la FIA. Il comprenait le 21e Championnat du monde des pilotes et la 13e Coupe internationale des constructeurs de F1. Treize courses ont eu lieu entre le 7 mars 1970 et le 25 octobre 1970, avec le championnat des pilotes remporté par Jochen Rindt et le titre des constructeurs par Lotus. Rindt est décédé quatre courses avant la fin de la saison, mais avait obtenu juste assez de points au Championnat du monde qu'aucun autre pilote n'a réussi à dépasser son total à la fin de la saison. C'est la seule saison à ce jour où le titre de Champion du Monde des Pilotes a été décerné à titre posthume. Jacky Ickx au volant d'une Ferrari a terminé la saison en force, mais sa faible quatrième place à l'avant-dernière manche a assuré Rindt du titre.</p>
			</div>
			<div class="col-12 col-md-6">
				<h1 class="dateh1">1980</h1>
				<img src="{{ asset('images/Jones_1980removebg.png') }}" alt="" class="imgdescri4">
			</div>
			<div class="col-12 col-md-6 descri">
				<p>
La saison de Formule 1 de 1980 était la 34e saison de course automobile de Formule 1 de la FIA. Il comportait le Championnat du monde des pilotes de 1980 et la Coupe internationale des constructeurs de F1 de 1980, qui ont été disputés simultanément du 13 janvier au 5 octobre sur une saison de quatorze courses. Elle comprenait également une course hors championnat, le Grand Prix d'Espagne.

Alan Jones, au volant d'une Williams-Ford, est devenu le premier Australien à remporter le Championnat du monde depuis Jack Brabham en 1966. La saison a vu un changement de garde majeur en Formule 1 avec les premiers titres Pilotes et Constructeurs de l'équipe Williams, l'émergence de Nelson Piquet en tant que candidat au championnat et les débuts des futurs champions du monde Alain Prost et Nigel Mansell, tandis que les champions en titre Jody Scheckter et Ferrari ont subi une saison terrible qui a conduit Scheckter à prendre sa retraite à la fin de l'année.</p>
			</div>
			<div class="col-12 col-md-6">
				<h1 class="dateh1">1990</h1>
				<img src="{{ asset('images/1990.png') }}" alt="" class="imgdescri6">
			</div>
			<div class="col-12 col-md-6 descri">
				<p>La saison de Formule 1 de 1990 était la 44e saison de course automobile de Formule 1 de la FIA.Il comportait le Championnat du monde des pilotes de 1980 et la Coupe internationale des constructeurs de F1 de 1980, qui ont été disputés simultanément lors d'une saison de seize courses qui a commencé le 11 mars et s'est terminée le 4 novembre. Dans des circonstances controversées, Ayrton Senna a remporté le Championnat des pilotes pour la deuxième fois et McLaren-Honda a remporté son troisième titre des constructeurs consécutif.

Le championnat a comporté une bataille dramatique entre Senna et l'ancien coéquipier Alain Prost, qui avait rejoint Ferrari. Senna a entamé l'avant-dernière manche sur le circuit de Suzuka au Japon avec une avance de neuf points sur Prost. Pour que Prost puisse encore prétendre au titre, il devait finir devant Senna lors de cette course. Malheureusement pour lui, ils se sont accrochés lors du premier virage offrant ainsi le titre à Senna.</p>
			</div>
			<div class="col-12 col-md-6">
				<h1 class="dateh1">2000</h1>
				<img src="{{ asset('images/2000.png') }}" alt="" class="imgdescri5">
			</div>
			<div class="col-12 col-md-6 descri">
				<p>Le Championnat du monde de Formule 1 2000 était la 54e saison de course automobile de Formule 1 de la FIA. Il a commencé le 12 mars et s'est terminé le 22 octobre après dix-sept courses. Michael Schumacher est devenu le premier champion du monde des pilotes Ferrari depuis 21 ans après avoir décroché le titre  à l'avant-dernière course de la saison. Ferrari a défendu avec succès son titre de constructeur. Cette saison a été la première pour le futur champion du monde Jenson Button. La saison a été, pour la troisième année consécutive, une bataille serrée entre Ferrari et McLaren. Schumacher a remporté les trois premières courses et a dominé la première partie de la saison car McLaren avait des problèmes de fiabilité. Puis le malheur a frappé Schumacher, qui a abandonné trois courses consécutives avec à la fois Mika Häkkinen et David Coulthard qui en ont profité. Häkkinen a ensuite bondi pour remporter deux courses consécutives, lui laissant six points d'avance sur Schumacher. Il s'est battu pour remporter les quatre dernières courses de la saison de manière convaincante, enregistrant la pole position sur toutes ces occasions. Le titre a été scellé au Japon le 8 octobre, après une bagarre classique entre Schumacher et Häkkinen, Schumacher dépassant Häkkinen lors du dernier arrêt au stand puis se tenant devant.</p>
			</div>
			<div class="col-12 col-md-6">
				<h1 class="dateh1">2010</h1>
				<img src="{{ asset('images/2010.png') }}" alt="" class="imgdescri7">
			</div>
			<div class="col-12 col-md-6 descri">
				<p>Le Championnat du monde de Formule 1  2010 était la 64e saison de course automobile de Formule 1 de la FIA. Red Bull Racing a remporté son premier championnat des constructeurs avec un doublé au Brésil, tandis que Sebastian Vettel (Red Bull Racing) a obtenu son premier titre de champion du monde après avoir remporté la dernière course de la saison. Ce faisant, Vettel est devenu le plus jeune champion du monde des pilotes de l'Histoire. Son titre est survenu après une finale spectaculaire à Abu Dhabi où trois autres pilotes auraient également pu remporter le championnat - le coéquipier de Vettel, Mark Webber, Fernando Alonso de chez Ferrari et Lewis Hamilton de chez McLaren. Le système de points a été modifié, 25 points étant attribués pour la première place, 18 pour la deuxième, 15 pour la troisième, puis 12, 10, 8, 6, 4, 2 et 1 pour la quatrième à la dixième place.</p>
			</div>
			<div class="col-12 col-md-6">
				<h1 class="dateh1">2020</h1>
				<img src="{{ asset('images/1950-removebg-preview.png') }}" alt="" class="imgdescri">
			</div>
			<div class="col-12 col-md-6 descri">
				<p>Le championnat du monde de Formule 1 1950 est la première édition du championnat du monde de Formule
					1. Marqué par la domination des Alfa Romeo, il a vu le sacre du vétéran italien Giuseppe Farina. Des
					sept circuits utilisés pour ce championnat inaugural, quatre figurent encore au calendrier
					soixante-dix ans plus tard : Silverstone, Monaco, Spa-Francorchamps et Monza.</p>
			</div>
		</div>


	</div>




	<h1 class="timelineh1">Les logos</h1>
	<br>
	<br>
	<div class="process-wrapper">
		<div id="progress-bar-container">
			<ul>
				<li class="step step01 active">
					<div class="step-inner"><img src="{{ asset('images/f150-removebg.png') }}" alt=""
							class="imgtimeline"></div>
				</li>
				<li class="step step02">
					<div class="step-inner"><img src="{{ asset('images/f180-removebg.png') }}" alt=""
							class="imgtimeline2"></div>
				</li>
				<li class="step step03">
					<div class="step-inner"><img src="{{ asset('images/f110-removebg.png') }}" alt=""
							class="imgtimeline3"></div>
				</li>
				<li class="step step04">
					<div class="step-inner"><img src="{{ asset('images/f120-removebg.png') }}" alt=""
							class="imgtimeline"></div>
				</li>

			</ul>

			<div id="line">
				<div id="line-progress"></div>
			</div>
		</div>

		<div id="progress-content-section">
			<div class="section-content discovery active">
				<h2>1950</h2>
				<p>Le premier logo F1 qui accompagnait les premières courses lors de son apparition en 1950 était
					élémentaire: les mots "Formula One" écrits en bleu sur fond blanc. Pendant des décennies - lorsque
					la fonction était plus importante que l'apparence - ce logo était suffisant, et personne n'a pensé
					que "ça valait peut-être la peine d'être mis à jour". Dans sa première année, la F1 était plus un
					concours pour les gars avec de bonnes ressources financières et n'est devenu un sport très populaire
					que plus tard. Cependant, la mondialisation, le mercantilisme et d'autres tendances ne sont pas
					passés à côté de la F1, il a donc été décidé en 1986 de repenser le logo. Radicalement.</p>
			</div>

			<div class="section-content strategy">
				<h2>1987</h2>
				<p>La nouvelle version du logo F1 a fait ses débuts en 1987, mais on pourrait l'appeler "nous avons
					besoin d'un nouveau design, mais nous ne payons pas beaucoup le designer". Sans surprise, cette
					version qui n'existait que depuis sept ans a été entièrement repensé pour devenir le logo que tout
					le monde connaissait jusqu'en 2017.</p>
			</div>

			<div class="section-content creative">
				<h2>1994</h2>
				<p>Au cours de cette décennie, la F1 est devenue un sport mondial. Avant cela, tous les Grands Prix se
					déroulaient en Europe ou en Amérique du Sud (plus un au Japon), mais la mondialisation a commencé à
					évoluer à toute allure au cours de la dernière décennie du XXe siècle. D'énormes sociétés
					internationales comme Coca-Cola, Marlboro et Mastercard ont commencé à parrainer des équipes de F1,
					et la géographie des Grands Prix s'est progressivement étendue à l'Australie, à l'Asie du Sud-Est,
					au Moyen-Orient et en Amérique du Nord, l'influence de l'Europe diminuant.
					Le sport avait donc besoin d'un logo reflétant ses valeurs et son éthique. Le logo sorti en 1994 a
					parfaitement réussi: à ce jour, il est considéré comme l'une des images de marques les plus
					créatives de tous les temps. Il était composé de trois couleurs: noir, blanc et rouge. Le noir
					utilisé pour la lettre "F" symbolisait la puissance, tandis que le rouge représentait la vitesse et
					la passion. Pendant ce temps, le blanc qui était intercalé entre ces couleurs formait le deuxième
					symbole du logo le "1".</p>
			</div>

			<div class="section-content production">
				<h2>2018</h2>
				<p>Lorsque le groupe Liberty Media a pris le contrôle de la F1 en 2017, il n'a pas fallu longtemps pour
					que les changements surviennent. Des annonces ont été faites concernant les plans de développement
					de la F1 et les nouvelles règles améliorant la compétition, et à la fin de 2017 - à la surprise
					générale - un nouveau logo a été introduit. Le nouveau logo est plus moderne et simple, mais il ne
					ressemble en rien au précédent. Et beaucoup de fans ne sont pas satisfaits de cela.
					Mais La F1 a commencé une nouvelle ère et les fans doivent accepter cela. </p>
			</div>
		</div>
	</div>
</div>
{% endblock %}