     <div class="card" style="height:33rem; width:23rem;">
        <img src="{{grandprix.cover}}" alt="Photo du grand prix {{grandprix.title}}" class="card-img" style="top:0%;">
        <h1>{{grandprix.title}}&nbsp{{grandprix.date}}</h1>
        <p class="job-title">
         <table class="table table-hover">
              <thead>
                  <tr>
                      <th>Position</th>
                      <th>Pilote</th>
                      <th>Team</th>
                      <th>Chrono</th>
                  <tr>
              </head>  
        <tbody>
        <tr>
        <td>
        {{grandprix.podium}}
        </td>
        </tr>
        {% for stats in grandprix.stats | slice(0,3) %}
          <tr>
              <td>{{loop.index}}</td>
              <td>{{stats.pilote.nom}}</td>          
              <td>{{stats.team.nom}}</td>
              <td>{{stats.chrono}}</td>
          </tr>
        
        {% endfor %}
        </tbody>
        </table>
        </p>
        
      <a href="{{path('grandprix_show', {'slug':grandprix.slug})}}" class="btn pilote">En savoir plus</a>
     
    </div>
    

