{% extends 'base.html.twig' %}

{% block title %}Hello PiloteController!{% endblock %}

{% block body %}

<div class="slide_gp">
  <span class='spangp'>{{grandprix.title}}</span>
  <img src="{{grandprix.cover}}" alt="">
</div>
<br>
<br>

<div class="container">

  <div class="row">
    <div class="col-12 col-md-6 mapcontent">
      <img src="{{grandprix.map}}" alt="" class="map">
    </div>  

    <div class="col-12 col-md-6">

      <table class="table mt-5">

        <tr>
          <th style="border-color:transparent;">Virages</th>
          <td style="border-color:transparent;">{{grandprix.turns}}</td>
        </tr>
        <tr>
          <th style="border-color:#23232e;">Kilomètres</th>
          <td style="border-color:#23232e;">{{grandprix.km}}</td>
        </tr>
        <tr>
          <th style="border-color:#23232e;">Tours</th>
          <td style="border-color:#23232e;">{{grandprix.laps}}</td>
        </tr>



      </table>




    </div>


  </div>
</div>  
  <br>
  <br>
  <div class="container" style="padding-top:100px;">
    <div class="row">
      <div class="col-md-12 mb-3">

        <div class="bd-example">
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for image in grandprix.images %}
              <li data-target="#carouselExampleCaptions" data-slide-to="{{ loop.index0 }}"
                {% if loop.first %}class="active" {% endif %}></li>
              {% endfor %}
            </ol>
            <div class="carousel-inner">

              {% for image in grandprix.images %}
              <div class="carousel-item {% if loop.first %}active{% endif %}">
                <img src="{{ image.url }}" class="d-block w-100" alt="image de {{ grandprix.title }}">

              </div>
              {% endfor %}



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>   
  <div class="container">
   <div class="descriptionpilote">
  <h3>Résumé</h3>
  <br>
  <br>

  {{grandprix.description| raw}}
  
  </div> 
    </div>
          <div class="container" style="padding-top:100px;">
            <h2>Classement final*</h2>
            <hr>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Position</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Team</th>
                    <th>Nationalité</th>
                    <th>Temps</th>
                    <th>Km/h</th>
                  </tr>
                </thead>
                <tbody>

                  {% for stats in myStats %}
                  <tr>

                    <td>{{loop.index}}</td>

                    <td><a href="{{path('pilote_show', {'slug':stats.pilote.slug})}}"
                        style='text-decoration:none;'>{{stats.pilote.prenom}}</a></td>
                    <td><a href="{{path('pilote_show', {'slug':stats.pilote.slug})}}"
                        style='text-decoration:none;'>{{stats.pilote.nom}}</a></td>
                    <td><a href="{{path('team_show', {'slug':stats.team.slug})}}"
                        style='text-decoration:none;'>{{stats.pilote.team.nom}}</a></td>

                    <td>{{stats.pilote.nationalite}}</td>
                    <td>{{stats.chrono}}</td>
                    <td>{{stats.kmh}}</td>


                  </tr>

                  {% endfor %}
                </tbody>
              </table>
            </div>
            <br>
            <p>* Seuls les pilotes qui ont terminé sont affichés.</p>
<br>
<hr>
    <br>        
            {% if grandprix.comments | length > 0 %}
                <h2 class="mb-3">Commentaires</h2>
                <div class="alert alert-info" style="background-color:
#23232e;">
                    <h4 class="alert-heading text-center">
                        <div class="row align-items-center">
                            <div class="col">
                                Note globale
                            </div>
                            <div class="col">
                                {% include 'partials/rating.html.twig' with {'rating': grandprix.avgRatings }%}
                                <br><small>(Cette moyenne est calculée sur la base de {{ grandprix.comments | length }} avis)</small>
                            </div>
                        </div>
                    </h4>
                </div>

                {% for comment in grandprix.comments %}
                    <div class="bg-light rounded mb-3 py-3 px-3">
                        <strong>{{ comment.author.firstName }}</strong> a dit: 
                        <blockquote>
                            {{comment.content | nl2br }}
                        </blockquote>
                        <strong>Note donnée: </strong>
                        {% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
                    </div>
                {% endfor %}

            {% else %}
                <h3>Ce Grand Prix n'a pas encore reçu de commentaire ...</h3>
           
            {% endif %}
                 <div class="commentaireForm">
                    {% if formV %}
                        {{form_start(myForm)}}
                        {{form_widget(myForm)}}
                        <button type="submit" >Commenter</button>
                        {{form_end(myForm)}}
                    {% else %}
                        <h4>{{message}}</h4>        
                    {% endif %}
                </div>
        </div>


        
    
        </div>
          </div>

          {% endblock %}