   
     <div class="card">
        <img src="{{pilote.team.cover}}" alt="Photo de l'écurie {{pilote.team.nom}}" class="card-img">
        <img src="{{pilote.picture}}" alt="Photo du pilote {{pilote.nom}}" class="profile-img">
        <h1>{{pilote.prenom}}&nbsp{{pilote.nom}}</h1>
        <p class="job-title">{{pilote.team.nom}}</p>
        
      <a href="#" class="btn pilote">En savoir plus</a>
     
        </div>
    

