{% extends 'base.html.twig' %}
{% block body %}


<div class="slide_gp" style="height:20rem; overflow:hidden;">

  <img src="{{pilote.team.cover}}" alt="" style=" object-fit:cover;">
</div>
<br>
<br><br>
<div class="container">


  <div class="row">
    <div class="col-12 col-md-7">
      <img src="{{pilote.picture}}" alt="" class="picture">
    </div>

    <div class="col-12 col-md-5">

      <table class="table ">
      <tr>  <th>Nom</th>
          <td>{{pilote.prenom}}&nbsp{{pilote.nom}}</td>
      </tr>
     
      <tr>  <th>Nationalité</th>
          <td>{{pilote.nationalite}}</td>
      </tr>
       <tr>  <th>Date de naissance</th>
          <td>{{pilote.datenaissance|date("d/m/Y")}}</td>
      </tr>
        <tr>  <th>Ecurie</th>
          <td>{{pilote.team.nom}}</td>
      </tr>
       
             
      
        {% if pilote.poles > 1 %}
          <th>Poles</th>
          <td>{{pilote.poles}}</td>
          {% else %}
           <th>Pole</th>
          <td>{{pilote.poles}}</td>
          {% endif %}
        </tr>
        <tr>
         {% if pilote.wins > 1 %}
          <th>Victoires</th>
          <td>{{pilote.wins}}</td>
          {% else %}
           <th>Victoire</th>
          <td>{{pilote.wins}}</td>
          {% endif %}
        </tr>
        <tr>
         {% if pilote.champion > 1 %}
          <th>Titres</th>
          <td>{{pilote.champion}}</td>
          {% else %}
           <th>Titre</th>
          <td>{{pilote.champion}}</td>
          {% endif %}
      
        </tr>



      </table>




    </div>


  </div>
<br>
<br>
<br>
<br>
  <div class="descriptionpilote">
  <h3>Description</h3>
  <br>
  <br>
  {{pilote.description| raw}}
  
  </div>
</div> 
{% endblock %}