{% extends 'base.html.twig' %}
{% block body %}


<div class="slide_gp" style="height:20rem; overflow:hidden;">

  <img src="{{pilote.team.cover}}" alt="" style=" object-fit:cover;">
</div>
<br>
<br><br>
<div class="container">


  <div class="row">
    <div class="col-12 col-md-7">
      <img src="{{pilote.picture}}" alt="" class="picture">
    </div>

    <div class="col-12 col-md-5">

      <table class="table pilote">
      <tr>  <th style="border-color:transparent;">Nom</th>
          <td style="border-color:transparent;">{{pilote.prenom}}&nbsp{{pilote.nom}}</td>
      </tr>
     
      <tr>  <th style="border-color:transparent;">Nationalité</th>
          <td style="border-color:transparent;">{{pilote.nationalite}}</td>
      </tr>
       <tr>  <th style="border-color:transparent;">Date de naissance</th>
          <td style="border-color:transparent;">{{pilote.datenaissance|date("d/m/Y")}}</td>
      </tr>
        <tr>  <th style="border-color:transparent;">Ecurie</th>
          <td style="border-color:transparent;">{{pilote.team.nom}}</td>
      </tr>
       
             
      
        {% if pilote.poles > 1 %}
          <th style="border-color:transparent;">Poles</th>
          <td style="border-color:transparent;">{{pilote.poles}}</td>
          {% else %}
           <th style="border-color:transparent;">Pole</th>
          <td style="border-color:transparent;"> {{pilote.poles}}</td>
          {% endif %}
        </tr>
        <tr>
         {% if pilote.wins > 1 %}
          <th style="border-color:transparent;"> Victoires</th>
          <td style="border-color:transparent;">{{pilote.wins}}</td>
          {% else %}
           <th style="border-color:transparent;">Victoire</th>
          <td style="border-color:transparent;">{{pilote.wins}}</td>
          {% endif %}
        </tr>
        <tr>
         {% if pilote.champion > 1 %}
          <th style="border-color:transparent;">Titres</th>
          <td style="border-color:transparent;">{{pilote.champion}}</td>
          {% else %}
           <th style="border-color:transparent;">Titre</th>
          <td style="border-color:transparent;">{{pilote.champion}}</td>
          {% endif %}
      
        </tr>



      </table>




    </div>


  </div>
<br>
<br>
<br>
<br>
  <div class="descriptionpilote">
  <h3>Description</h3>
  <br>
  <br>
  {{pilote.description| raw}}
  
  </div>
</div> 
{% endblock %}