{% extends 'admin/base.html.twig' %}

{% block title %}Edition du Grand Prix {{grandprix.title}}{% endblock %}
{% form_theme myForm 'bootstrap_4_layout.html.twig' %}
{% form_theme myForm 'admin/grand_prix/_collection.html.twig' %}


{% block body %}
    <div class="container">
        <h1>Modification du Grand Prix {{grandprix.title}}</h1>
        <a href="{{path('admin_grandprix_index')}}" class="btn btn-secondary my-3">Retour</a>
        {{form_start(myForm)}}
        <div class="row">
            <div class="col">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">Corriger le Grand Prix?</h4>
                    </div>
                    <div class="card-body">
                        {{form_widget(myForm)}}
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-check"></i>
                            Enregistrer les modifications
                        </button>
                    </div>
                </div>
            </div>
          
        
        </div>

        {{form_end(myForm)}}
    </div>

{% endblock %}

{% block _grand_prix_images_widget %}
    {{form_widget(form)}}
{% endblock %}

{% block _grand_prix_images_entry_row %}
    <div id="block_{{id}}">
        {{form_widget(form)}}
    </div>
{% endblock %}

{% block _grand_prix_images_entry_widget %}
    <div class="row align-items-center">
        <div class="col-4">
            {{form_row(form.url)}}
            {% if value %}
                <img src="{{value.url}}" class="img-fluid">
            {% endif %}
        </div>
        <div class="col-6">
            {{form_row(form.caption)}}
        </div>
        <div class="col">
            <button type="button" class="btn btn-danger" data-action="delete" data-target="#block_{{id}}">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
    $('#add-image').click(function () {
  console.log('add-image')
  // compter combien j'ai de form-group pour les indices ex: grand_prix_images_0_url
  const index = +$('#widgets-counter').val() // le + permet de transformer en nombre pcq val() rend tjrs un type string

  // récup le prototype des entrées data-prototype
  const tmpl = $('#grand_prix_images').data('prototype').replace(/__name__/g, index) // drapeau g pour indiquer qu'on va le faire plusieurs fois

  // injecter le code dans la div
  $('#grand_prix_images').append(tmpl)

  $('#widgets-counter').val(index + 1)

  // gère le bouton supprimer

  handleDeleteButtons()
})    

function updateCounter () {
  const count = +$('#grand_prix_images div.form-group').length

  $('#widgets-counter').val(count)
}

function handleDeleteButtons () {
  $('button[data-action="delete"]').click(function () {
    const target = this.dataset.target // dataset (les attributs data et je veux le target)
    $(target).remove()
  })
}

updateCounter()
handleDeleteButtons()

        $(document).ready(function(){
            $('[data-action="delete"]').on('click',function(){
                const target = this.dataset.target
                $(target).remove()
            })
        })
    </script>
{% endblock %}