{% extends 'admin/base.html.twig' %}

{% block title %}Administration des commentaires{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Administration des commentaires</h1>
        <br>
             <input class="form-control" id="myInput" type="text" placeholder="Rechercher..">
             <br>
        <table class="table table-hover" id="myTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Commentaire</th>
                    <th>Grand Prix</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in pagination.data %}
                    <tr>
                        <td>{{comment.id}}</td>
                        <td>{{comment.createdAt | date('d/m/Y H:i')}}</td>
                        <td>{{comment.author.firstName}}</td>
                        <td>{{comment.author.lastName}}</td>
                        <td>{{comment.content}}</td>
                     
                        <td>{{comment.grandprix.title}}</td>
                        <td>
                           
                            <a href="{{ path('admin_comment_delete', {id:comment.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
  
    </div>
{% endblock %}